<template>
  <vk-offcanvas-content>
    <el-button type="success" @click="show = !show" class="uk-margin-small-right" size="small" icon="el-icon-plus"> Tambah</el-button>
    <vk-modal :show.sync="show" size="container">
      <vk-modal-title style="margin-top:-5px; margin-bottom:30px" align="center">Tambah Capaian SKP</vk-modal-title>
      <el-form :model="form" label-width="100px">
        <b-row>
          <b-col md="5">
            <el-card class="box-card">
              <el-form-item label="Target SKP">
                <el-select v-model="target" placeholder="Pilih Target SKP" style="width:100%">
                  <el-option v-for="(item, i) in targetSkp" :key="item.id" :label="item.nama" :value="i" style="height:50%">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Bulan">
                <el-select v-model="bulan" placeholder="Pilih Bulan" style="width:100%">
                  <el-option v-for="(item, i) in optionBulan" :key="item.id" :label="item.nama" :value="i">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="AK">
                <el-input placeholder="AK" v-model="form.ak"></el-input>
              </el-form-item>
              <el-form-item label="Kualitas">
                <el-input placeholder="Kualitas" v-model="form.kualitas"></el-input>
              </el-form-item>
              <div class="pull-right" style="padding-bottom:20px">
                <span slot="footer" class="dialog-footer">
                  <el-button @click="show = false">
                    <i class="fa fa-times"></i>&nbsp;Batal
                  </el-button>
                  <el-button type="primary" @click="show = false">
                    <i class="fa fa-check"></i>&nbsp;Tambah
                  </el-button>
                </span>
              </div>
            </el-card>
          </b-col>
          <b-col md="7">
            <el-card class="box-card">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th colspan="2" style="border-top: 0">DETAIL TARGET SKP</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Nama</th>
                    <td>{{selected.nama}}</td>
                  </tr>
                  <tr>
                    <th>AK</th>
                    <td>{{selected.ak}}</td>
                  </tr>
                  <tr>
                    <th>Waktu</th>
                    <td>{{selected.waktu}} {{selected.tipeWaktu}}</td>
                  </tr>
                   <tr>
                    <th>Output</th>
                    <td>{{selected.output}} {{selected.tipeOutput}}</td>
                  </tr>
                  <tr>
                    <th>Biaya(Rp)</th>
                    <td>{{selected.biaya}}</td>
                  </tr>
                  <tr>
                    <th>Status</th>
                    <td>
                      <el-tag type="danger" size="mini" v-show="selected.status != 'Aktif'">{{selected.status}}</el-tag>
                      <el-tag type="success" size="mini" v-show="selected.status != 'Tidak Aktif'">{{selected.status}}</el-tag>
                    </td>
                  </tr>
                </tbody>
              </table>
            </el-card>
          </b-col>
        </b-row>
      </el-form>
    </vk-modal>
  </vk-offcanvas-content>
</template>

<script>
import pegawai from '../providers/pegawai';

export default {
  name: 'modal-tambah-capaian-skp',
  data: () => ({
      show: false,
      form: {
        target: '',
        bulan: '',
        ak: '',
        kualitas: '',
      },
      selected: {
        nama:'test', ak:100, waktu:12, tipeWaktu:'Bulan', output:77, tipeOutput:'Display', biaya:45000000, status:'Tidak Aktif'
      },
      targetSkp:[
        {
          id:'1',
          nama:'test'
        },{
          id:'2',
          nama:'tester'
        },
      ],
      optionBulan:[
        {
          id:1,
          nama:'Januari'
        },
        {
          id:2,
          nama:'Februari'
        },
        {
          id:3,
          nama:'Maret'
        },
        {
          id:4,
          nama:'April'
        },
        {
          id:5,
          nama:'Mei'
        },
        {
          id:6,
          nama:'Juni'
        },
        {
          id:7,
          nama:'Juli'
        },
      ]
  }),
  created() {
  },
  methods: {
  },
};
</script>

<style>
.uk-offcanvas-bar {
  background: #fff !important;
  width: 40%;
}
h3 {
  color: black !important;
}
h4 {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}
</style>


