<template>
  <vk-offcanvas-content>
    <el-button type="success" @click="show = !show" class="uk-margin-small-right" size="small" icon="el-icon-plus"> Tambah</el-button>
    <vk-modal :show.sync="show" size="container">
      <vk-modal-title style="margin-top:-5px; margin-bottom:30px" align="center">Tambah SKP</vk-modal-title>
      <el-form :model="form" label-width="100px">
        <b-row>
          <b-col md="4">
            <el-card class="box-card">
              <el-form-item label="Pegawai">
                <el-select v-model="tempSelected" placeholder="Pilih Pegawai" @change="pegawaiSelect">
                  <el-option v-for="(item, i) in pegawai" :key="item.id" :label="item.nama" :value="i" style="height:50%">
                    <span>{{ item.nama }}</span>
                    <br>
                    <span style="color: #8492a6; font-size: 10px; ">{{ item.nip }}</span>
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Tahun SKP">
                <el-input placeholder="Tahun SKP" v-model="form.tahun"></el-input>
              </el-form-item>
              <div class="pull-right" style="padding-bottom:20px">
                <span slot="footer" class="dialog-footer">
                  <el-button @click="show = false">
                    <i class="fa fa-times"></i>&nbsp;Batal
                  </el-button>
                  <el-button type="primary" @click="show = false">
                    <i class="fa fa-check"></i>&nbsp;Tambah
                  </el-button>
                </span>
              </div>
            </el-card>
          </b-col>
          <b-col md="8">
            <b-row>
              <b-col md="6">
                <el-card class="box-card">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th colspan="2" style="border-top: 0">DETAIL PEGAWAI</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>NIP</th>
                        <td>{{selected.nip}}</td>
                      </tr>
                      <tr>
                        <th>Nama</th>
                        <td>{{selected.nama}}</td>
                      </tr>
                      <tr>
                        <th>Pangkat/Gol</th>
                        <td>{{selected.golongan}}</td>
                      </tr>
                      <tr>
                        <th>Jabatan</th>
                        <td>{{selected.jabatan}}</td>
                      </tr>
                      <tr>
                        <th>Unit Kerja</th>
                        <td>{{selected.unit_kerja}}</td>
                      </tr>
                    </tbody>
                  </table>
                </el-card>
              </b-col>
              <b-col md="6">
                <el-card class="box-card">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th colspan="2" style="border-top: 0">DETAIL ATASAN</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>NIP</th>
                        <td>{{selected.atasan ? selected.atasan.nip  : ''}}</td>
                      </tr>
                      <tr>
                        <th>Nama</th>
                        <td>{{selected.atasan ? selected.atasan.nama  : ''}}</td>
                      </tr>
                      <tr>
                        <th>Pangkat/Gol</th>
                        <td>{{selected.atasan ? selected.atasan.golongan  : ''}}</td>
                      </tr>
                      <tr>
                        <th>Jabatan</th>
                        <td>{{selected.atasan ? selected.atasan.jabatan  : ''}}</td>
                      </tr>
                      <tr>
                        <th>Unit Kerja</th>
                        <td>{{selected.atasan ? selected.atasan.unit_kerja  : ''}}</td>
                      </tr>
                    </tbody>
                  </table>
                </el-card>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </el-form>
    </vk-modal>
  </vk-offcanvas-content>
</template>

<script>
import pegawai from '../providers/pegawai';

export default {
  name: 'modal-tambah-skp',
  data: () => ({
      show: false,
      form: {
        tahun: '',
      },
      selected: {},
      pegawai: [],
      tempSelected: null,
  }),
  created() {
    pegawai.getListPegawai().then((result) => {
        this.pegawai = result;
    });
  },
  methods: {
    pegawaiSelect(selected) {
      this.selected = this.pegawai[this.tempSelected];
    },
  },
};
</script>

<style>
.uk-offcanvas-bar {
  background: #fff !important;
  width: 40%;
}
h3 {
  color: black !important;
}
h4 {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}
</style>


