<template>
  <vk-offcanvas-content>
    <el-button type="success" @click="show = !show" class="uk-margin-small-right" size="small" icon="el-icon-plus"> Tambah</el-button>
    <vk-modal :show.sync="show">
      <vk-modal-title style="margin-top:-5px;margin-bottom:30px" align="center">Tambah Target SKP</vk-modal-title>
      <el-form :model="form" label-width="100px">
        <el-form-item label="Nama">
          <el-input placeholder="Nama" v-model="nama"></el-input>
        </el-form-item>
        <b-row>
          <b-col md="6">
            <el-form-item label="Waktu">
              <el-input-number v-model="waktu" controls-position="right" :min="1" :max="10"></el-input-number>
            </el-form-item>
          </b-col>
          <b-col md="6">
            <el-form-item label="Tipe Waktu">
              <el-select v-model="tipeWaktu" placeholder="Pilih Tipe Waktu">
                <el-option v-for="item in optionWaktu" :key="item.id" :label="item.nama" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6">
            <el-form-item label="Output">
              <el-input-number v-model="output" controls-position="right" :min="1" :max="10"></el-input-number>
            </el-form-item>
          </b-col>
          <b-col md="6">
            <el-form-item label="Tipe Ouput">
              <el-select v-model="tipeOutput" placeholder="Pilih Tipe Output">
                <el-option v-for="item in optionOutput" :key="item.id" :label="item.nama" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </b-col>
        </b-row>
        <el-form-item label="Biaya">
          <el-input placeholder="Biaya" v-model="biaya">
            <template slot="prepend">Rp.</template>
          </el-input>
        </el-form-item>
      </el-form>
      <div class="pull-right">
        <span slot="footer" class="dialog-footer">
          <el-button @click="show = false">
            <i class="fa fa-times"></i>&nbsp;Batal
          </el-button>
          <el-button type="primary" @click="show = false">
            <i class="fa fa-check"></i>&nbsp;Update
          </el-button>
        </span>
      </div>
    </vk-modal>
  </vk-offcanvas-content>
</template>

<script>
import satuanWaktu from '@/providers/satuanWaktu'
import jenisOutput from '@/providers/jenisOutput'

export default {
  name: 'modal-tambah-target-skp',
  data: () => ({
      show: false,
      form: {
        name: '',
        waktu: 1,
        tipeWaktu: '',
        output: 1,
        tipeOutput: '',
        biaya: 0,
      },
      optionWaktu: [],
      optionOutput: [],
  }),
  created() {
    satuanWaktu.getDaftar().then((result) => {
      this.optionWaktu = result;
    });

    jenisOutput.getDaftar().then((result) => {
      this.optionOutput = result;
    });
  },
  methods: {
    // selectChange(val) {
      // alert(val);
    // },
  },
};
</script>

<style>
.uk-offcanvas-bar {
  background: #fff !important;
  width: 40%;
}
h3 {
  color: black !important;
}
</style>
