<template>
  <div>
    <rs-header />
    <b-row>
      <sidebar />
      <b-col md="10" class="margin-container">
      <b-container fluid>
          <div class="mt-3"/>
          <h2>Aktivitas</h2>
          <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb-margin">
            <el-breadcrumb-item :to="{ path: '/' }">Dashboard</el-breadcrumb-item>
            <el-breadcrumb-item >Aktivitas</el-breadcrumb-item>
          </el-breadcrumb>
        </b-container>
        <b-container fluid>
          <el-card class="box-card">
            <b-row>
              <b-col md="9">
                <modal-tambah-aktivitas style="margin-bottom:10px"/>
              </b-col>
              <b-col md="3">
                <el-input
                  placeholder="Search">
                  <i slot="prefix" class="el-input__icon el-icon-search"></i>
                </el-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col md="12">
                <el-table :data="dummy" stripe style="width: 100%">
                  <el-table-column type="index"></el-table-column>
                  <el-table-column property="kode_aktifitas" label="Kode Aktifitas"></el-table-column>
                  <el-table-column property="waktu_awal" label="WaktuAwal" width="200px"></el-table-column>
                  <el-table-column property="waktu_akhir" label="WaktuAkhir" width="200px"></el-table-column>
                  <el-table-column property="lokasi" label="Lokasi"></el-table-column>
                  <el-table-column property="status" label="Status" width="100px">
                    <template scope="scope">
                        <el-tag type="info" size="mini" v-show="scope.row.status != 'Aktif'">{{scope.row.status}}</el-tag>
                        <el-tag type="default" size="mini" v-show="scope.row.status != 'Draft'">{{scope.row.status}}</el-tag>
                    </template>
                  </el-table-column>
                  <el-table-column>
                    <template slot-scope="scope">
                      <div class="pull-right">
                          <el-button size="mini" type="default" @click="modalDetail = !modalDetail">
                            <i class="fa fa-eye"></i>
                          </el-button>
                          <el-button size="mini" type="primary" @click="modalUpdate = !modalUpdate">
                            <i class="fa fa-pencil"></i>
                          </el-button>
                          <el-button size="mini" type="success" @click="modalApprove = !modalApprove">
                            <i class="fa fa-check"></i>
                          </el-button>
                      </div>
                    </template>
                  </el-table-column>
                </el-table>
              </b-col>
            </b-row>
          </el-card>
        </b-container>
      </b-col>
    </b-row>
    <vk-modal :show.sync="modalDetail">
      <vk-modal-title>Detail Aktivitas</vk-modal-title>
      <div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Kode Aktivitas</th>
              <td>{{detail.kode_aktifitas}}</td>
            </tr>
            <tr>
              <th>Waktu Awal</th>
              <td>{{detail.waktu_awal}}</td>
            </tr>
            <tr>
              <th>Waktu Akhir</th>
              <td>{{detail.waktu_awal}}</td>
            </tr>
              <tr>
              <th>Lokasi</th>
              <td>{{detail.lokasi}}</td>
            </tr>
            <tr>
              <th>Durasi</th>
              <td>{{detail.durasi}}</td>
            </tr>
            <tr>
              <th>Approve</th>
              <td>
                <el-tag type="danger" size="mini" v-show="detail.approve != 'Ya'">{{detail.approve}}</el-tag>
                <el-tag type="success" size="mini" v-show="detail.approve != 'Tidak'">{{detail.approve}}</el-tag>
              </td>
            </tr>
            <tr>
              <th>Tanggal Approve</th>
              <td>{{detail.tgl_approve}}</td>
            </tr>
            <tr>
              <th>File Pendukung</th>
              <td>
                <el-tag type="info" size="mini" :key="file" v-for="file in detail.file_pendukung">{{file}}</el-tag>
              </td>
            </tr>
            <tr>
              <th>Status</th>
              <td>
                <el-tag type="danger" size="mini" v-show="detail.status != 'Aktif'">{{detail.status}}</el-tag>
                <el-tag type="success" size="mini" v-show="detail.status != 'Draft'">{{detail.status}}</el-tag>
              </td>
            </tr>
            <tr>
              <th>NIP Atasan</th>
              <td>{{detail.nip_atasan}}</td>
            </tr>
            <tr>
              <th>Nama Atasan</th>
              <td>{{detail.nama_atasan}}</td>
            </tr>
            <tr>
              <th>Jabatan Atasan</th>
              <td>{{detail.jabatan_atasan}}</td>
            </tr>
          </tbody>
        </table>
        <div class="pull-right">
          <el-button type="default" @click="modalDetail = !modalDetail">Keluar</el-button>
        </div>
      </div>
    </vk-modal>
    <vk-modal :show.sync="modalApprove">
      <vk-modal-title>Konfirmasi aktivitas</vk-modal-title>
      <div>
        <p>Pastikan data dibawah sudah benar</p>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Kode Aktivitas</th>
              <td>{{detail.kode_aktifitas}}</td>
            </tr>
            <tr>
              <th>Waktu Awal</th>
              <td>{{detail.waktu_awal}}</td>
            </tr>
            <tr>
              <th>Waktu Akhir</th>
              <td>{{detail.waktu_awal}}</td>
            </tr>
              <tr>
              <th>Lokasi</th>
              <td>{{detail.lokasi}}</td>
            </tr>
            <tr>
              <th>Durasi</th>
              <td>{{detail.durasi}}</td>
            </tr>
          </tbody>
        </table>
        <div class="pull-right">
          <el-button type="success">Konfirmasi</el-button>
          <el-button type="danger">Tolak</el-button>
          <el-button type="default"  @click="modalApprove = !modalApprove" :disabled="confirm">Batal</el-button>
        </div>
      </div>
    </vk-modal>
    <vk-modal :show.sync="modalUpdate" size="container">
      <vk-modal-title style="margin-top:-5px; margin-bottom:30px" align="center">Update Aktivitas</vk-modal-title>
      <el-form :model="edit" label-width="100px">
        <b-row>
          <b-col md="7">
            <el-card class="box-card">
              <el-form-item label="Capaian SKP">
                <el-select v-model="edit.id_capaian" placeholder="Pilih Capaian SKP" style="width:100%">
                  <el-option v-for="(item, i) in capaianSkp" :key="item.id" :label="item.nama" :value="i" style="height:50%">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Aktivitas">
                <el-select v-model="edit.aktivitas" placeholder="Pilih Aktivitas" style="width:100%">
                  <el-option v-for="(item, i) in optionAktivitas" :key="item.id" :label="item.nama" :value="i">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Waktu">
                  <el-date-picker
                    v-model="waktu"
                    type="datetimerange"
                    range-separator="To"
                    start-placeholder="Waktu Mulai"
                    end-placeholder="Waktu Akhir" style="width:100%">
                    </el-date-picker>
              </el-form-item>
              <el-form-item label="Lokasi">
                <el-input placeholder="Lokasi" v-model="edit.lokasi"></el-input>
              </el-form-item>
              <el-form-item label="File">
                <el-tag
                  v-for="file in detail.file_pendukung"
                  :key="file"
                  closable
                  :type="info">
                  {{file}}
                </el-tag>
                <br/>
                <el-button size="mini" type="warning" @click="update_upload_file = !update_upload_file" v-show="!update_upload_file">
                  <i class="fa fa-plus"></i>
                  Tambah File
                </el-button>
                <el-upload
                v-show="update_upload_file"
                class="upload-demo" drag action="" :on-preview="handlePreview"
                :on-remove="handleRemove"
                :file-list="fileList"
                multiple >
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">drag file disini or <em>klik untuk upload</em></div>
                <!-- <div class="el-upload__tip" slot="tip">jpg/png/pdf/doc files with a size less than </div> -->
                </el-upload>
              </el-form-item>
              <div class="pull-right" style="padding-bottom:20px">
                <span slot="footer" class="dialog-footer">
                  <el-button @click="show = false">
                    <i class="fa fa-times"></i>&nbsp;Batal
                  </el-button>
                  <el-button type="primary" @click="modalUpdate = false">
                    <i class="fa fa-check"></i>&nbsp;Tambah
                  </el-button>
                </span>
              </div>
            </el-card>
          </b-col>
          <b-col md="5">
            <el-card class="box-card">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th colspan="2" style="border-top: 0">DETAIL CAPAIAN SKP</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Nama</th>
                    <td>{{selected.nama}}</td>
                  </tr>
                  <tr>
                    <th>AK</th>
                    <td>{{selected.ak}}</td>
                  </tr>
                  <tr>
                    <th>Waktu</th>
                    <td>{{selected.waktu}} {{selected.tipeWaktu}}</td>
                  </tr>
                   <tr>
                    <th>Output</th>
                    <td>{{selected.output}} {{selected.tipeOutput}}</td>
                  </tr>
                  <tr>
                    <th>Biaya(Rp)</th>
                    <td>{{selected.biaya}}</td>
                  </tr>
                  <tr>
                    <th>Status</th>
                    <td>
                      <el-tag type="danger" size="mini" v-show="selected.status != 'Aktif'">{{selected.status}}</el-tag>
                      <el-tag type="success" size="mini" v-show="selected.status != 'Tidak Aktif'">{{selected.status}}</el-tag>
                    </td>
                  </tr>
                </tbody>
              </table>
            </el-card>
          </b-col>
        </b-row>
      </el-form>
    </vk-modal>
  </div>
</template>

<script>

import rsHeader from '@/components/Navbar.vue';
import sidebar from '@/components/Sidebar.vue';
import modalTambahAktivitas from '@/modal/ModalTambahAktivitas.vue';

export default {
  name: 'aktifitas',
  components: {
    rsHeader,
    sidebar,
    modalTambahAktivitas,
  },
  data: () => ({
    modalDetail: false,
    modalUpdate: false,
    modalApprove: false,
    update_upload_file: false,
    dummy:[
      {kode_aktifitas:'001', waktu_awal:'2018-06-12 08:00', waktu_akhir:'2018-06-13 09:00', lokasi:'Malang', status:'Draft'},
      {kode_aktifitas:'001', waktu_awal:'2018-06-12 08:00', waktu_akhir:'2018-06-13 09:00', lokasi:'Malang', status:'Aktif'},
    ],
    edit: {
      id_capaian: '',
      aktivitas: '',
      waktu: '',
      file_upload: [],
      lokasi:'',
    },
    detail:{
      kode_aktifitas:'001',
      waktu_awal:'2018-06-12 08:00',
      waktu_akhir:'2018-06-13 09:00',
      lokasi:'Malang',
      status:'Draft',
      durasi:'240 Menit',
      approve:'Ya',
      tgl_approve:'2018-06-15 09:50',
      nip_atasan:'98712938798123',
      nama_atasan:'SUNARYO',
      jabatan_atasan:'KEPALA BIDANG KEUANGAN NEGARA',
      file_pendukung:['file1', 'file2', 'file3'],
    },
    selected: {
      nama:'test', ak:100, waktu:12, tipeWaktu:'Bulan', output:77, tipeOutput:'Display', biaya:45000000, status:'Tidak Aktif'
    },
    capaianSkp:[
      {
        id:'1',
        nama:'Skp Tester'
      },
      {
        id:'2',
        nama:'Skp Teast'
      },
    ],
    optionAktivitas:[
      {
        id:'1',
        nama:'Skp Tester'
      },
      {
        id:'2',
        nama:'Skp Teast'
      },
    ],
  }),
  created() {
  },
  methods: {
  },
};
</script>

<style scoped>
  .el-button{
    margin-left: 2px;
  }
</style>