<template>
  <div>
    <rs-header />
    <b-row>
      <sidebar />
      <b-col md="10" class="margin-container">
        <b-container fluid>
          <div class="mt-3"/>
          <h2>Capaian SKP</h2>
          <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb-margin">
            <el-breadcrumb-item :to="{ path: '/' }">Dashboard</el-breadcrumb-item>
            <el-breadcrumb-item>Capaian SKP</el-breadcrumb-item>
          </el-breadcrumb>
        </b-container>
        <b-container fluid>
          <el-card class="box-card">
            <b-row>
              <b-col md="9">
                <modal-tambah-capaian-skp style="margin-bottom:10px"/>
              </b-col>
              <b-col md="3">
                <el-input
                  placeholder="Search">
                  <i slot="prefix" class="el-input__icon el-icon-search"></i>
                </el-input>
              </b-col>
            </b-row>
            <el-table :data="skp" stripe style="width: 100%">
              <el-table-column type="index"></el-table-column>
              <el-table-column property="nama" label="Nama"></el-table-column>
              <el-table-column label="Waktu" width="200px">
                <template scope="scope">
                  <span>{{scope.row.waktu}} {{scope.row.tipeWaktu}}</span>
                </template>
              </el-table-column>
              <el-table-column property="output" label="Output" width="250px">
                <template scope="scope">
                  <span>{{scope.row.output}} {{scope.row.tipeOutput}}</span>
                </template>
              </el-table-column>
              <el-table-column property="biaya" label="Biaya"></el-table-column>
              <el-table-column property="status" label="Status">
                <template scope="scope">
                    <el-tag type="danger" size="mini" v-show="scope.row.status != 'Aktif'">{{scope.row.status}}</el-tag>
                    <el-tag type="success" size="mini" v-show="scope.row.status != 'Tidak Aktif'">{{scope.row.status}}</el-tag>
                </template>
              </el-table-column>
              <el-table-column>
                <template slot-scope="scope">
                    <el-button size="mini" type="primary" @click="updateCanvas=!updateCanvas">
                      <i class="fa fa-pencil"></i>
                    </el-button>   
                    <el-button size="mini" type="success" @click="modalApprove = !modalApprove">
                      <i class="fa fa-check"></i>
                    </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-card>
        </b-container>
      </b-col>
    </b-row>
    <vk-modal :show.sync="updateCanvas" size="container">
      <vk-modal-title style="margin-top:-5px; margin-bottom:30px" align="center">Update Capaian SKP</vk-modal-title>
      <el-form :model="form" label-width="100px">
        <b-row>
          <b-col md="5">
            <el-card class="box-card">
              <el-form-item label="Target SKP">
                <el-select v-model="tempSelected" placeholder="Pilih Target SKP" style="width:100%">
                  <el-option v-for="(item, i) in pegawai" :key="item.id" :label="item.nama" :value="i" style="height:50%; width:100%">
                    <span>{{ item.nama }}</span>
                    <br>
                    <span style="color: #8492a6; font-size: 10px; ">{{ item.nip }}</span>
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Bulan">
                <el-select v-model="bulan" placeholder="Pilih Bulan" style="width:100%">
                  <el-option v-for="(item, i) in optionBulan" :key="item.id" :label="item.nama" :value="i">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="AK">
                <el-input placeholder="AK" v-model="form.ak"></el-input>
              </el-form-item>
              <el-form-item label="Kualitas">
                <el-input placeholder="Kualitas" v-model="form.kualitas"></el-input>
              </el-form-item>
              <div class="pull-right" style="padding-bottom:20px">
                <span slot="footer" class="dialog-footer">
                  <el-button @click="show = false">
                    <i class="fa fa-times"></i>&nbsp;Batal
                  </el-button>
                  <el-button type="primary" @click="show = false">
                    <i class="fa fa-check"></i>&nbsp;Tambah
                  </el-button>
                </span>
              </div>
            </el-card>
          </b-col>
          <b-col md="7">
            <el-card class="box-card">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th colspan="2" style="border-top: 0">DETAIL TARGET SKP</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Nama</th>
                    <td>{{selected.nama}}</td>
                  </tr>
                  <tr>
                    <th>AK</th>
                    <td>{{selected.ak}}</td>
                  </tr>
                  <tr>
                    <th>Waktu</th>
                    <td>{{selected.waktu}} {{selected.tipeWaktu}}</td>
                  </tr>
                   <tr>
                    <th>Output</th>
                    <td>{{selected.output}} {{selected.tipeOutput}}</td>
                  </tr>
                  <tr>
                    <th>Biaya(Rp)</th>
                    <td>{{selected.biaya}}</td>
                  </tr>
                  <tr>
                    <th>Status</th>
                    <td>
                      <el-tag type="danger" size="mini" v-show="selected.status != 'Aktif'">{{selected.status}}</el-tag>
                      <el-tag type="success" size="mini" v-show="selected.status != 'Tidak Aktif'">{{selected.status}}</el-tag>
                    </td>
                  </tr>
                </tbody>
              </table>
            </el-card>
          </b-col>
        </b-row>
      </el-form>
    </vk-modal>
    <vk-modal :show.sync="modalApprove">
      <vk-modal-title>Konfirmasi Capaian SKP</vk-modal-title>
      <div>
        <p>Pastikan data dibawah sudah benar</p>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Nama</th>
              <td>{{detail.nama}}</td>
            </tr>
            <tr>
              <th>AK</th>
              <td>{{detail.ak}}</td>
            </tr>
            <tr>
              <th>Waktu</th>
              <td>{{detail.waktu}} {{detail.tipeWaktu}}</td>
            </tr>
              <tr>
              <th>Output</th>
              <td>{{detail.output}} {{detail.tipeOutput}}</td>
            </tr>
            <tr>
              <th>Biaya(Rp)</th>
              <td>{{detail.biaya}}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>
                <el-tag type="danger" size="mini" v-show="detail.status != 'Aktif'">{{detail.status}}</el-tag>
                <el-tag type="success" size="mini" v-show="detail.status != 'Tidak Aktif'">{{detail.status}}</el-tag>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pull-right">
          <el-button type="success" :loading="confirm" @click="confirmSkp">Konfirmasi</el-button>
          <el-button type="danger" :loading="confirm" @click="confirmSkp">Tolak</el-button>
          <el-button type="default"  @click="modalApprove = !modalApprove" :disabled="confirm">Batal</el-button>
        </div>
      </div>
    </vk-modal>
  </div>
</template>

<script>

import rsHeader from '@/components/Navbar.vue';
import sidebar from '@/components/Sidebar.vue';
import modalTambahCapaianSkp from '@/modal/ModalTambahCapaianSkp.vue';

export default {
  name: 'capaian-skp',
  components: {
    rsHeader,
    sidebar,
    modalTambahCapaianSkp,
  },
    data: () => ({
      skp:[
          {nama: 'Skp Pertama', waktu:12, tipeWaktu:'Bulan', output:5, tipeOutput:'Laporan', biaya:20000000, status:'Tidak Aktif'},
          {nama: 'Skp Kedua', waktu:12, tipeWaktu:'Bulan', output:70, tipeOutput:'Disposisi', biaya:20000000, status:'Aktif'}
      ],
      updateCanvas: false,
      modalApprove: false,
      form: {
        target: '1',
        bulan: '1',
        ak: '70',
        kualitas: '100',
      },
      detail: {
        nama:'test', ak:100, waktu:12, tipeWaktu:'Bulan', output:77, tipeOutput:'Display', biaya:45000000, status:'Tidak Aktif'
      },
      selected: {
        nama:'test', ak:100, waktu:12, tipeWaktu:'Bulan', output:77, tipeOutput:'Display', biaya:45000000, status:'Tidak Aktif'
      },
      targetSkp:[
        {
          id:'1',
          nama:'test'
        },{
          id:'2',
          nama:'tester'
        },
      ],
      optionBulan:[
        {
          id:1,
          nama:'Januari'
        },
        {
          id:2,
          nama:'Februari'
        },
        {
          id:3,
          nama:'Maret'
        },
        {
          id:4,
          nama:'April'
        },
        {
          id:5,
          nama:'Mei'
        },
        {
          id:6,
          nama:'Juni'
        },
        {
          id:7,
          nama:'Juli'
        },
      ]
    }),
    methods: {
      modalDelete() {
        this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.$message({
            type: 'success',
            message: 'Delete completed'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          });          
        });
      }
    }
  }
</script>

<style scoped>
  .el-button{
    margin-left: 2px;
  }
</style>
