<template>
  <div>
    <rs-header />
    <b-row>
      <sidebar />
       <b-col md="10" class="margin-container">
        <b-container>
          <div class="mt-3"/>
          <h2>Dashboard</h2>
          <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb-margin">
            <el-breadcrumb-item>Dashboard</el-breadcrumb-item>
          </el-breadcrumb>
        </b-container>
        <b-container fluid>
          <b-row>
            <b-col md="6">
              <el-card class="box-card">
                <table class="table table-striped">
                  <thead style="border-top: 0">
                    <tr>
                      <th colspan="2">DETAIL ATASAN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>NIP</th>
                      <td>{{atasan.nip}}</td>
                    </tr>
                    <tr>
                      <th>Nama</th>
                      <td>{{atasan.nama}}</td>
                    </tr>
                    <tr>
                      <th>Pangkat/Gol</th>
                      <td>{{atasan.golongan}}</td>
                    </tr>
                    <tr>
                      <th>Jabatan</th>
                      <td>{{atasan.jabatan}}</td>
                    </tr>
                    <tr>
                      <th>Unit Kerja</th>
                      <td>{{atasan.unit_kerja}}</td>
                    </tr>
                  </tbody>
                </table>
              </el-card>
            </b-col>
            <b-col md="6">
              <el-card class="box-card" v-loading="isLoading">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th colspan="2" style="border-top: 0">DETAIL PEGAWAI</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>NIP</th>
                      <td>{{profile.nip}}</td>
                    </tr>
                    <tr>
                      <th>Nama</th>
                      <td>{{profile.nama}}</td>
                    </tr>
                    <tr>
                      <th>Pangkat/Gol</th>
                      <td>{{profile.golongan}}</td>
                    </tr>
                    <tr>
                      <th>Jabatan</th>
                      <td>{{profile.jabatan}}</td>
                    </tr>
                    <tr>
                      <th>Unit Kerja</th>
                      <td>{{profile.unit_kerja}}</td>
                    </tr>
                  </tbody>
                </table>
              </el-card>
            </b-col>
          </b-row>
        </b-container>
      </b-col>
    </b-row>
  </div>
</template>

<script>

import rsHeader from '@/components/Navbar.vue';
import sidebar from '@/components/Sidebar.vue';

import pegawai from '../providers/pegawai';

export default {
  name: 'dashboard',
  components: {
    rsHeader,
    sidebar,
  },
  data: () => ({
    profile: {},
    atasan: {},
    isLoading: false,
  }),
  created() {
    this.isLoading = true;
    pegawai.getProfilPegawai().then((result) => {
      this.profile = result;
      this.atasan = result.atasan || {};
      this.isLoading = false;
    });
  },
};
</script>
