<template>
  <div class="page-login-v2 layout-full page-dark">
    <div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out" style="width:100%">
      <div class="page-content">
        <div class="page-brand-info">
          <div class="brand">
            <img class="brand-img" src="" alt=""/>
            <h2 class="brand-text font-size-60">E-Kinerja</h2>
          </div>
          <p class="font-size-15">
            e-Kinerja adalah salah satu aplikasi berbasis web yang digunakan oleh Pemerintah Kabupaten Pati untuk
            menganalisis kebutuhan jabatan, beban kerja jabatan dan beban kerja unit/satuan kerja organisasi sebagai
            dasar perhitungan prestasi kerja dan pemberian insentif kerja dengan mempedomani Permendagri Nomor 4
            Tahun 2005 tentang Anjab dan Permendagri Nomor 12 tahun 2008 tentang ABK.
          </p>
        </div>

        <div class="page-login-main animation-slide-right animation-duration-1">
          <h3 class="font-size-24">Sign In</h3>
          <p>Sistem e-Kinerja Kab. PATI.</p>
          <form v-on:submit="onLoginPress">
            <el-alert
              :title="error"
              v-if="error.length > 0"
              type="error"
              show-icon>
            </el-alert>
            <br />
            <div class="form-group">
              <label>NIP</label>
              <input
                  type="text"
                  class="form-control"
                  placeholder="NIP"
                  name="nip"
                  v-model="username"
              />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  name="password"
                  v-model="password"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block btn-flat" @click="onLoginPress" :disabled="loading">
                <span v-if="!loading">LOGIN</span>
                <span v-else>
                  <i class="fa fa-fa-circle-o-notch fa-spin"></i>
                </span>
              </button>
            </div>
          </form>
          <footer class="page-copyright">
            <p>© 2018. All RIGHT RESERVED.</p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '../assets/login.css';

import auth from '../providers/auth.js'
export default {
  name: 'login',
  components: {},
  data: () => ({
    username: '',
    password: '',
    loading: false,
    error: '',
  }),
  methods: {
    onLoginPress: function(e) {
      e.preventDefault();

      this.loading = true;
      this.error = '';

      auth.auth(this.username, this.password).then(() => {
        this.loading = false;
        this.$router.push('/')
      }).catch(err => {
        this.loading = false;
        this.error = err.message;
        this.$notify({
          title: 'An error has occured',
          message: err.message  ,
          type: 'error',
        });
      });
    }
  },

}
</script>

<style>
  body {
    /* margin-top: -4px !important; */
  }
</style>

