<template>
  <div>
    <rs-header />
    <b-row>
      <sidebar />
      <b-col md="10" class="margin-container">
      <b-container fluid>
          <div class="mt-3"/>
          <h2>Monitoring Pegawai</h2>
          <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb-margin">
            <el-breadcrumb-item :to="{ path: '/' }">Dashboard</el-breadcrumb-item>
            <el-breadcrumb-item >Monitoring Pegawai</el-breadcrumb-item>
          </el-breadcrumb>
        </b-container>
        <b-container fluid>
            <b-row>
              <b-col md="12">
                <el-card class="box-card">
                  <b-row>
                    <b-col md="3" offset-md="9">
                      <el-input
                        placeholder="Search">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                      </el-input>
                    </b-col>
                  </b-row>
                  <el-table :data="dummy" stripe style="width: 100%; margin-top:10px">
                    <el-table-column type="index"></el-table-column>
                    <el-table-column property="nip" label="NIP" header-align="center"></el-table-column>
                    <el-table-column property="nama" label="Nama" header-align="center"></el-table-column>
                    <el-table-column property="jabatan" label="Jabatan" header-align="center"></el-table-column>
                    <el-table-column label="Capaian Skp" header-align="center">
                      <el-table-column property="capaian.sudah" label="Sudah Approve">
                        <template scope="scope">
                          <span>{{scope.row.capaian.sudah}} Capaian</span>
                        </template>
                      </el-table-column>
                      <el-table-column property="capaian.belum" label="Belum Approve">
                        <template scope="scope">
                          <span>{{scope.row.capaian.belum}} Capaian</span>
                        </template>
                      </el-table-column>
                    </el-table-column>
                    <el-table-column label="Aktivitas" header-align="center">
                      <el-table-column property="aktivitas.sudah" label="Sudah Approve">
                        <template scope="scope">
                          <span>{{scope.row.aktivitas.sudah}} Aktivitas</span>
                        </template>
                      </el-table-column>
                      <el-table-column property="belum" label="Belum Approve">
                        <template scope="scope">
                          <span>{{scope.row.aktivitas.belum}} Aktivitas</span>
                        </template>
                      </el-table-column>
                    </el-table-column>
                  </el-table>
                </el-card>
              </b-col>
            </b-row>
        </b-container>
      </b-col>
    </b-row>
  </div>
</template>

<script>

import rsHeader from '@/components/Navbar.vue';
import sidebar from '@/components/Sidebar.vue';

export default {
  name: 'monitoring-pegawai',
  components: {
    rsHeader,
    sidebar,
  },
   data: () => ({
      modalApprove: false,
      form: {},
      confirm: false,
      detail: {
        nip: '1231233',
        nama: 'Raga Subekti',
        jabatan: 'NotAvail',
        golongan: 'IV/a',
        tahun: 2018
      },
      dummy: [
          { nama: 'Mardi Joko', nip: '19091283891723', jabatan: 'Kepala Dinas', capaian:{sudah: 14, belum: 3}, aktivitas: {sudah: 4, belum: 11}},
          { nama: 'Bagus Purnomo', nip: '19091283891723', jabatan: 'Kepala Dinas', capaian:{sudah: 14, belum: 3}, aktivitas: {sudah: 4, belum: 11}},
          { nama: 'Michael Tejo', nip: '19091283891723', jabatan: 'Kepala Dinas', capaian:{sudah: 14, belum: 3}, aktivitas: {sudah: 4, belum: 11}},
          { nama: 'Bambang Zain', nip: '19091283891723', jabatan: 'Kepala Dinas', capaian:{sudah: 14, belum: 3}, aktivitas: {sudah: 4, belum: 11}},
      ],
    }),
};
</script>
