<template>
  <div>
    <rs-header />
    <b-row>
      <sidebar />
      <b-col md="10" class="margin-container">
        <b-container fluid>
          <div class="mt-3" />
          <h1>Review Aktifitas</h1>
        </b-container>
      </b-col>
    </b-row>
  </div>
</template>

<script>

import rsHeader from '@/components/Navbar.vue';
import sidebar from '@/components/Sidebar.vue';

export default {
  name: 'review-aktifitas',
  components: {
    rsHeader,
    sidebar,
  },
};
</script>

