<template>
  <div>
    <rs-header/>
    <b-row>
      <sidebar/>
      <b-col md="10" class="margin-container">
        <b-container fluid>
          <div class="mt-3"/>
          <h2>Sasaran Kinerja Pegawai</h2>
          <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb-margin">
            <el-breadcrumb-item :to="{ path: '/' }">Dashboard</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/skp' }">Sasaran Kinerja Pegawai</el-breadcrumb-item>
          </el-breadcrumb>
        </b-container>
        <b-container fluid>
          <el-card class="box-card">
            <b-row>
              <b-col md="9">
                <modal-tambah-skp style="margin-bottom:10px"/>
              </b-col>
              <b-col md="3">
                <el-input
                  placeholder="Search">
                  <i slot="prefix" class="el-input__icon el-icon-search"></i>
                </el-input>
              </b-col>
            </b-row>
            <el-table :data="dummy" stripe style="width: 100%">
              <el-table-column type="index"></el-table-column>
              <el-table-column property="nip" label="NIP"></el-table-column>
              <el-table-column property="nama" label="Nama"></el-table-column>
              <el-table-column property="jabatan" label="Jabatan"></el-table-column>
              <el-table-column property="lokasi" label="Lokasi Kerja"></el-table-column>
              <el-table-column property="tahun" label="Tahun" width="70px"></el-table-column>
              <el-table-column property="jumlah" label="Jumlah" width="120px">
                <template scope="scope">
                  <span>{{scope.row.jumlah}} SKP</span>
                </template>
              </el-table-column>
              <el-table-column property="status" label="Status" width="100px">
                <template scope="scope">
                    <el-tag type="danger" size="mini" v-show="scope.row.status != 'Aktif'">{{scope.row.status}}</el-tag>
                    <el-tag type="success" size="mini" v-show="scope.row.status != 'Tidak Aktif'">{{scope.row.status}}</el-tag>
                </template>
              </el-table-column>
              <el-table-column>
                <template slot-scope="scope">
                  <div class="pull-right">
                      <router-link to="/target-skp" class="mr-2">
                        <el-button size="mini" type="primary">
                          <i class="fa fa-list"></i>
                        </el-button>
                      </router-link>
                      <el-button size="mini" type="success" @click="modalApprove = !modalApprove">
                        <i class="fa fa-check"></i>
                      </el-button>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </el-card>
        </b-container>
      </b-col>
    </b-row>
    <vk-modal :show.sync="modalApprove">
      <vk-modal-title>Konfirmasi SKP</vk-modal-title>
      <div>
        <p>Pastikan data dibawah sudah benar</p>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>NIP</th>
              <td>{{detail.nip}}</td>
            </tr>
            <tr>
              <th>Nama</th>
              <td>{{detail.nama}}</td>
            </tr>
            <tr>
              <th>Jabatan</th>
              <td>{{detail.jabatan}}</td>
            </tr>
            <tr>
              <th>Golongan</th>
              <td>{{detail.golongan}}</td>
            </tr>
            <tr>
              <th>Tahun</th>
              <td>{{detail.tahun}}</td>
            </tr>
          </tbody>
        </table>
        <div class="pull-right">
          <el-button type="success" :loading="confirm" @click="confirmSkp">Konfirmasi</el-button>
          <el-button type="danger" :loading="confirm" @click="confirmSkp">Tolak</el-button>
          <el-button type="default"  @click="modalApprove = !modalApprove" :disabled="confirm">Batal</el-button>
        </div>
      </div>
    </vk-modal>
  </div>
</template>

<script>
  import rsHeader from '@/components/Navbar.vue'
  import sidebar from '@/components/Sidebar.vue'
  import modalTambahSkp from '@/modal/ModalTambahSkp.vue'

  export default {
    name: 'skp',
    components: {
      rsHeader,
      sidebar,
      modalTambahSkp
    },
    data: () => ({
      modalApprove: false,
      form: {},
      confirm: false,
      detail: {
        nip: '1231233',
        nama: 'Raga Subekti',
        jabatan: 'NotAvail',
        golongan: 'IV/a',
        tahun: 2018
      },
      // daftarPegawai: [],
      dummy: [
          { nama: 'John A. Smith', nip: '19091283891723', jabatan: 'Kepala Dinas', lokasi: 'Dinas Perhubungan', jumlah:2000, status:'Tidak Aktif', tahun:2018 },
          { nama: 'John A. Smith', nip: '19091283891723', jabatan: 'Kepala Dinas', lokasi: 'Dinas Perhubungan', jumlah:20, status:'Aktif', tahun:2018 },
          { nama: 'John A. Smith', nip: '19091283891723', jabatan: 'Kepala Dinas', lokasi: 'Dinas Perhubungan', jumlah:20, status:'Aktif', tahun:2018 },
          { nama: 'John A. Smith', nip: '19091283891723', jabatan: 'Kepala Dinas', lokasi: 'Dinas Perhubungan', jumlah:20, status:'Aktif', tahun:2018 },
      ],
    }),
    methods: {
      confirmSkp: function() {
        this.confirm = true;
        setTimeout(() => {
          this.confirm = false;
          this.modalApprove = false;
        }, 10000)
      }
    }
  }
</script>

