<template>
<b-row>
  <b-col md="12">
    <b-navbar class="site-navbar navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <b-navbar-brand>E-Kinerja</b-navbar-brand>
      </div>
      <el-dropdown right class="ml-auto mr-5">
        <span class="el-dropdown-link">
          {{profile.nama}} <i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>
            <i class="fa fa-user-circle mr-1"></i>
            <span>Profile</span>
          </el-dropdown-item>
          <el-dropdown-item>
            <i class="fa fa-key mr-1"></i>
            <span>Ganti Password</span>
          </el-dropdown-item>
          <el-dropdown-item @click="logout">
            <i class="site-menu-icon fa fa-sign-out mr-1"></i>
            <span class="site-menu-title">Logout</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </b-navbar>
  </b-col>
</b-row>
</template>

<script>
import pegawai from '../providers/pegawai.js';

export default {
  name: 'rs-navbar',
  data: () => ({
    profile: {},
  }),
  created: function() {
    pegawai.getProfilPegawai().then(result => {
      this.profile = result;
    })
    // pegawai.g().then();
  },
  methods: {
    logout: function() {
      localStorage.removeItem('bearerToken')
      this.$router.go('/login')
    }
  }
}
</script>

<style lang="scss" scoped>
  .site-navbar {
    min-height: 66px;
  }
  .navbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 500;
  }
  .el-dropdown-link {
    cursor: pointer;
    color: white;
  }
  .el-icon-arrow-down {
    font-size: 12px;
  }
</style>
