  <template>
  <b-col md="1" style="min-width: 211px; z-index: 0">
    <div class="site-menubar site-menubar-light">
    <div class="site-menubar-body site-menubar-unfold">
      <b-row>
        <b-col md="12">
          <ul class="site-menu">
            <li>&nbsp;</li>
            <li class="site-menu-item">
              <router-link to="/">
                <i class="site-menu-icon fa fa-dashboard"></i>
                <span class="site-menu-title">Dashboard</span>
              </router-link>
            </li>
            <li class="site-menu-item">
              <router-link to="/skp">
                <i class="site-menu-icon fa fa-home"></i>
                <span class="site-menu-title">SKP</span>
              </router-link>
            </li>
            <li class="site-menu-item">
              <router-link to="/capaian-skp">
                <i class="site-menu-icon fa fa-home"></i>
                <span class="site-menu-title">Capaian SKP</span>
              </router-link>
            </li>
            <li class="site-menu-item">
              <router-link to="/aktifitas">
                <i class="site-menu-icon fa fa-home"></i>
                <span class="site-menu-title">Aktifitas</span>
              </router-link>
            </li>
            <li class="site-menu-item">
              <router-link to="/e-presensi">
                <i class="site-menu-icon fa fa-home"></i>
                <span class="site-menu-title">e-Presensi</span>
              </router-link>
            </li>
            <li class="site-menu-item">
              <router-link to="/review-aktifitas">
                <i class="site-menu-icon fa fa-home"></i>
                <span class="site-menu-title">Review Aktifitas</span>
              </router-link>
            </li>
            <li class="site-menu-item">
              <router-link to="/monitoring-pegawai">
                <i class="site-menu-icon fa fa-home"></i>
                <span class="site-menu-title">Monitoring Pegawai</span>
              </router-link>
            </li>
          </ul>
        </b-col>
      </b-row>
    </div>
    </div>
  </b-col>
</template>


<script>
export default {
  name: "rs-sidebar",
};
</script>
