<template>
  <div>
    <rs-header/>
    <b-row>
      <sidebar/>
      <b-col md="10" class="margin-container">
        <b-container fluid>
          <div class="mt-3"/>
          <h2>Target SKP</h2>
          <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb-margin">
            <el-breadcrumb-item :to="{ path: '/' }">Dashboard</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/skp' }">Sasaran Kinerja Pegawai</el-breadcrumb-item>
            <el-breadcrumb-item>Target SKP</el-breadcrumb-item>
          </el-breadcrumb>
        </b-container>
        <b-container fluid>
          <el-card class="box-card">
            <modal-tambah-skp style="margin-bottom:10px"/>
            <el-table :data="skp" stripe style="width: 100%">
              <el-table-column type="index"></el-table-column>
              <el-table-column property="nama" label="Nama"></el-table-column>
              <el-table-column label="Waktu" width="200px">
                <template scope="scope">
                  <span>{{scope.row.waktu}} {{scope.row.tipeWaktu}}</span>
                </template>
              </el-table-column>
              <el-table-column property="output" label="Output" width="250px">
                <template scope="scope">
                  <span>{{scope.row.output}} {{scope.row.tipeOutput}}</span>
                </template>
              </el-table-column>
              <el-table-column property="biaya" label="Biaya"></el-table-column>
              <el-table-column>
                <template slot-scope="scope">
                    <el-button size="mini" type="primary" @click="updateCanvas=!updateCanvas">
                      <i class="fa fa-pencil"></i>
                    </el-button>
                    <el-button size="mini" type="danger" @click="modalDelete">
                      <i class="fa fa-trash"></i>
                    </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-card>
        </b-container>
      </b-col>
    </b-row>
    <vk-modal :show.sync="updateCanvas">
      <vk-modal-title style="margin-top:-5px">Update SKP</vk-modal-title>
        <el-form :model="edit" label-width="100px">
            <el-form-item label="Nama">
                <el-input placeholder="Nama" v-model="nama"></el-input>
            </el-form-item>
            <b-row>
              <b-col md="6">
                <el-form-item label="Waktu">
                    <el-input-number v-model="waktu" :min="1" ></el-input-number>
                </el-form-item>
              </b-col>
              <b-col md="6">
                <el-form-item label="Tipe Waktu">
                  <el-select v-model="tipeWaktu" placeholder="Pilih Tipe Waktu">
                    <el-option
                    v-for="item in optionWaktu"
                    :key="item.id"
                    :label="item.nama"
                    :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
              </b-col>
            </b-row>
            <b-row>
              <b-col md="6">
                <el-form-item label="Output">
                    <el-input-number v-model="output" :min="1"></el-input-number>
                </el-form-item>
              </b-col>
              <b-col md="6">
                <el-form-item label="Tipe Ouput">
                        <el-select v-model="tipeOutput" placeholder="Pilih Tipe Output">
                            <el-option
                            v-for="item in optionOutput"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
              </b-col>
            </b-row>
            <el-form-item label="Biaya">
                <el-input placeholder="Biaya" v-model="form.biaya">
                    <template slot="prepend">Rp.</template>
                </el-input>
            </el-form-item>
        </el-form>
        <div class="pull-right">
        <span slot="footer" class="dialog-footer">
            <el-button @click="updateCanvas = false">
                <i class="fa fa-times"></i>&nbsp;Batal
            </el-button>
            <el-button type="primary" @click="updateCanvas = false">
                <i class="fa fa-check"></i>&nbsp;Update
            </el-button>
        </span>
        </div>
    </vk-modal>
  </div>
</template>

<script>
  import rsHeader from '@/components/Navbar.vue';
  import sidebar from '@/components/Sidebar.vue';
  import modalTambahSkp from '@/modal/ModalTambahSkp.vue';

  import satuanWaktu from '@/providers/targetSkp';

  export default {
    name: 'target-skp',
    components: {
      rsHeader,
      sidebar,
      modalTambahSkp,
    },
    data: () => ({
      skp:[
          {nama: 'Skp Pertama', waktu:12, tipeWaktu:'Bulan', output:5, tipeOutput:'Laporan', biaya:20000000},
          {nama: 'Skp Kedua', waktu:12, tipeWaktu:'Bulan', output:5, tipeOutput:'Laporan', biaya:20000000}
      ],
      updateCanvas: false,
      edit: {
        name: 'Text',
        waktu: 0,
        tipeWaktu: 'Text',
        output: 0,
        tipeOutput: 'Text',
        biaya: 0,
      },
      optionWaktu: [],
      optionOutput: [{
          value: 'Lembar',
          label: 'Lembar'
        }, {
          value: 'Aplikasi',
          label: 'Aplikasi'
        }, {
          value: 'Laporan',
          label: 'Laporan'
        }, {
          value: 'Website',
          label: 'Website'
        }],
    }),
    created: function() {
      satuanWaktu.getDaftar().then(result => {
        // this.optionWaktu = result;
      })
    },
    methods: {
      modalDelete() {
        this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.$message({
            type: 'success',
            message: 'Delete completed'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          });
        });
      }
    }
  }
</script>

<style scoped>
  .el-button{
    margin-left: 2px;
  }
</style>

<style>
  .uk-offcanvas-bar{
        background: #fff !important;
        width: 40%;
    }
  h3{
      color:black !important;
  }
</style>

